<Button local-class="tracking-button">Button</Button>

<p class="description">
  A button that slightly looks towards the cursor when close enough. Based on the pressure point of the cursor the button goes drops into the background fluidly.
</p>